.img-list-center{
    display: block;
    margin: -60px auto 0;
}
.bg-main-color{
    background: linear-gradient(90deg, #F12711 0%, #FD7201 100%);
}
.cash-bold{
    font-size: 2.5rem;
    color: #000;
    font-weight: 500;
}
.acct-tab .nav-link{
    background: #fff !important;
    color: #000 !important; 
}
.acct-tab .nav-item .active{
    background: #F1F1F1 !important;
}
.ref-text-xlg{
    font-size: 2rem;
    font-weight: 500;

}
.bold-text{
    font-weight: 600 !important;
}

/* Customise thumbnail */
.thumbnail-container{
    position: relative; 
}
.input-thumbnail{
    opacity: 0;
      /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
     filter: alpha(opacity=0);

    /* Netscape */
    -moz-opacity: 0;

     /* Safari 1.x */
    -khtml-opacity: 0;
}
.thumbnail-container, .input-thumbnail{
    height: 200px;
    cursor: pointer;
}
.upload-icon{
    position: absolute;
    top: 75px;
    right: 50%;
    display: inherit;
    width: 50px;
}


@media screen and (max-width:600px){
    .cash-bold{
        font-size: 1.5rem;
    }
    /* justify right for mobile screen */
    .justify-right-sm{
        justify-content: start !important;
    }
    /* Vendor dashboard>>>>>>>>>>Single-order */
    .second-list{
        padding-right: 1rem !important;
    }
    .first-list .list-group-item .row p:last-child, .second-list .list-group-item .row p:last-child{
        text-align: left !important;
    }
}
